div.plumApp
    header
        div.inner
            h1 Barth Tuning

            nav
                span
                    a Home

                span
                    a About

                span
                    a Projects

                span
                    a Testimonials

                span
                    a Shop

                span
                    a Quote

    main
        router-outlet