@import "../constants";

html, body, h1 {
    margin: 0;
    padding: 0;
}

body {
    background-color: $primary-bg;
    color: #ffffff;
    font-family: $primary-font;
    font-size: $primary-font-size;
    
    div.plumApp {
        header {
            height: 50px;
            line-height: 50px;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background-color: $primary-bg;
            opacity: 0.85;
            z-index: 100;
        
            h1 {
                float: left;
                font-size: 32px;
                font-weight: 100;
                font-family: Impact, Arial, sans-serif;
                letter-spacing: 1px;
            }
        
            nav {
                float: right;
                font-size: 0;
                font-weight: 100;
            
                span {
                    a {
                        display: inline-block;
                        font-size: 16px;
                        height: 50px;
                        padding: 0 20px;
                        cursor: pointer;
                    }
                }
            }
        }
    
        main {
        
        }
    
        footer {
        
        }
    
        .inner {
            max-width: 1024px;
            min-width: 960px;
            margin: 0 auto;
            padding: 0 20px;
            position: relative;
        }
    }
}