@import "../constants";

html, body, h1 {
    margin: 0;
    padding: 0;
}

body {
    background-color: $primary-bg;
    color: #ffffff;
    font-family: $primary-font;
    font-size: $primary-font-size;
    padding: 20px;
}