div.plumHome {
    section.first {
        background: transparent url(/assets/img/hellcat1.jpg) no-repeat center 70%;
        width: 100%;
        background-size: 120%;
        min-width: 960px;
        margin-top: -50px;
        
        div.inner {
            height: 500px;
            padding-top: 50px;
            
            span {
                position: absolute;
                font-family: Impact, Arial, sans-serif;
                font-size: 72px;
                letter-spacing: 3px;
                font-weight: 100;
                text-shadow: 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
                color: #ffffff;
                display: block;
                font-style: italic;
        
                &.header1 {
                    top: 35%;
                    left: 20px;
                }
        
                &.header2 {
                    bottom: 25%;
                    right: 20px;
                }
            }
        }
    }
}